{% extends 'base.html' %} 
{% block content %}    

    <h2>Search for posts via their tags</h2>
    <br>    
    <h4 class="tags">Tag Searched: {{ tag_string }}</h4>
    <br>
    {% for post in posts %}
        <h3><a href="{% url 'post' post.slug %}">{{ post.title }}</a></h3>
        <h5 class="info_line">{{ post.date|date:"d M Y"}}</h5>
        <h6>Tags: {% for tag in tag_list %}
            {% if tag in post.tags %}
              <a href="{% url 'tag_search' tag %}">[{{ tag }}]</a>
            {% endif %}
          {% endfor %}</h6>
        <p class="description">{{ post.description }}... <a href="{% url 'post' post.slug %}">Read Post</a> </p>
        <br>
    {% endfor %}


    <div class="btn_holder">
        <input type="button" value="Back" class="back_button" onclick="history.back(-1)" />
    </div>
{% endblock %}